 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Vision to Future</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Advanced Robotic Lab (ARL) is a research team that focuses on advancing technologies of Artificial Intelligence, Cognitive Robotics, Machine Learning, Neural Networks, etc.</p>
                </div>
                <div class="col-lg-4">
                    <p>In ARL, our researchers are pursuing research directions which have huge impact to our daily live and scientific world. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://arl.fsktm.um.edu.my/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Meet Us
                    </a>
                </div>
            </div>
        </div>
    </section>
