<!--- Featured Section --->

    <section class="success" id="featured">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Featured</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h2>Deep</h2>
                    <h2>Learning</h2>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive" src="resources/dl_feature.jpg" alt="">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://arl.fsktm.um.edu.my/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Meet Us
                    </a>
                </div>
            </div>
        </div>
    </section>
