<!--- People Section --->

    <section id="groups">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research Groups</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>
                        <center><img class="img-responsive" src="img/groups/arl-logo.png" alt="Advanced Robotic Lab"></center>
                        Advanced Robotic Lab
                    </h3>
                </div>
            </div>
        </div>
    </section>
