<!--- People Section --->

    <section id="people">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>People</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/aznul.png" width="128" height="128" alt="" align="middle">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/erma.png" width="128" height="128" alt="">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/hayyan.png" width="128" height="128" alt="">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/thinagaran.png" width="128" height="128" alt="" align="middle">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/alex.png" width="128" height="128" alt="">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/farhan.png" width="128" height="128" alt="">
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="img/people/parham.png" width="128" height="128" alt="">
                </div>
                <div class="col-lg-12 col-lg-offset-2 text-center">
                    <p><br></p>
                </div>
                <div class="col-lg-12 col-lg-offset-2 text-center">
                    <a href="#project-1" class="btn btn-success btn-lg" data-toggle="modal">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </section>
