 <!-- People Modals -->

{% for post in site.categories.people %}
    <div class="portfolio-modal modal fade" id="{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" align="center">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h3><img src="img/people/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}", width="128", height="128"> {{ post.title }}</h3>
                            <hr class="star-primary">
                            <p><em>{{ post.description }}</em></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" align="justify">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" align="center">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
